/* Importing fonts from Google
CSS to use to specify these families:
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i,800');
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 48px
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600i;
  font-style: italic;
  font-size: 32px
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
}
