/* Importing fonts from Google
CSS to use to specify these families:
font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i,800');

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3em;
}

html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 1em;
  min-width: 250px;
}

h2 {
  font-weight: 600i;
  font-style: italic;
  font-size: 2em;
}

img {
  max-width: 75%;
  display: block;
  width: 75%;
  height: auto;
  margin: 0px auto;
}

figcaption {
  margin: 0.25em;
}

p {
  font-weight: 400;
  font-size: 1.25em;
}

#tribute-info {
  background-color: gainsboro;
  max-width: 50%;
  min-width: 250px;
  display: block;
  margin: 0 auto;
}

ul {

  margin: 0, auto;
  text-align: left;
}

#headline {
  margin-top: 2em;
  padding-top: 1em;
}

li {
  margin: 1em;
}

#outro {
  font-weight: bold;
}